*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

fieldset{
    margin-left: 400px;
    margin-right: 400px;
}

form{
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

form > div{
    margin:20px 0 ;
}

input{
    margin: auto;
    display: block;
    text-align: center;
    padding: 5px;
}

a{
    padding: 10px;
    background-color: darkblue;
    color: #fff;
    border: none;
    border-radius: .3rem;
    text-decoration: none;
    /* color: #000; */
    font-family: 'agency-fb', 'sans-serif';
}

.empty{
    background-color: #ff0000;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 20px;
    border-radius: 2.3rem;
}

.lists > div ul {
    background-color: #ccc;
    color: #000;
    width: 50%;
    margin: 0 auto;
    border-radius: .3rem;
}

.lists > div ul li{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}